* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h3 {
  margin: 0;
}

table {
  border-collapse: collapse;
  font-size: 90%;
  text-align: center;
}

th,
td {
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
  padding: 0.25rem;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

thead,
tr {
  border-bottom: 1px solid gray;
}

tr:last-child {
  border-bottom: none;
}
